
@font-face {
    font-family: 'Mongolian Universal White';
    src: url('fnts/MongolianUniversalWhite.woff2') format('woff2'),
        url('fnts/MongolianUniversalWhite.woff') format('woff'),
		url('fnts/MongolianUniversalWhite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'UKIJ Tuz Tom';
    src: url('fnts/UKIJTuT.woff2') format('woff2'),
        url('fnts/UKIJTuzTom.woff') format('woff'),
		url('fnts/UKIJTuT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'UKIJ Tuz';
    src: url('fnts/UKIJTuz.woff2') format('woff2'),
        url('fnts/UKIJTuz.woff') format('woff'),
		url('fnts/UKIJTuz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Guifan Miaowen';
    src: url('fnts/GuifanMiaowen.woff2') format('woff2'),
        url('fnts/GuifanMiaowen.woff') format('woff'),
		url('fnts/GuifanMiaowen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'FZZWXBTOT_Unicode';
  src: url('fnts/FZZWXBTOT_Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'BabelStoneTibetanSlim';
  src: url('fnts/BabelStoneTibetanSlim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('fnts/NotoSans-Italic.woff2') format('woff2'),
        url('fnts/NotoSans-Italic.woff') format('woff'),
        url('fnts/NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('fnts/NotoSans-Regular.woff2') format('woff2'),
        url('fnts/NotoSans-Regular.woff') format('woff'),
        url('fnts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('fnts/NotoSans-Bold.woff2') format('woff2'),
        url('fnts/NotoSans-Bold.woff') format('woff'),
        url('fnts/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('fnts/NotoSans-BoldItalic.woff2') format('woff2'),
        url('fnts/NotoSans-BoldItalic.woff') format('woff'),
        url('fnts/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fnts/OpenSans-Regular.woff2') format('woff2'),
        url('fnts/OpenSans-Regular.woff') format('woff'),
        url('fnts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fnts/OpenSans-Italic.woff2') format('woff2'),
        url('fnts/OpenSans-Italic.woff') format('woff'),
        url('fnts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fnts/OpenSans-Bold.woff2') format('woff2'),
        url('fnts/OpenSans-Bold.woff') format('woff'),
        url('fnts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fnts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('fnts/OpenSans-BoldItalic.woff') format('woff'),
        url('fnts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-It.woff2') format('woff2'),
        url('fnts/SourceSans3-It.woff') format('woff'),
        url('fnts/SourceSans3-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-Regular.woff2') format('woff2'),
        url('fnts/SourceSans3-Regular.woff') format('woff'),
        url('fnts/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-Bold.woff2') format('woff2'),
        url('fnts/SourceSans3-Bold.woff') format('woff'),
        url('fnts/SourceSans3-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-BoldIt.woff2') format('woff2'),
        url('fnts/SourceSans3-BoldIt.woff') format('woff'),
        url('fnts/SourceSans3-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
body {
	font-family: "Source Sans 3", "Noto Sans", "Segoe UI", sans-serif !important;
}
h1 h2 h3 {
	font-family: inherit;
	font-weight: bold;
}
p.padding {
	padding-left: 40px;
}
a {
	text-decoration: none;
}
a:link {
	color:rgb(128,128,128)
}
a:hover {
	color:rgb(0,0,205)
}
a:visited {
	color: rgb(128,128,128)
}
table {
	table-layout: fixed;
    width: 100%;
}
table, th, td {
	border-collapse: collapse;
	border: 1px solid;
	border-color: rgb(128,128,128);
}
th {
	background-color: rgb(211,211,211);
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding: 5px;
}
td {
	vertical-align: top;
	padding: 5px;
}
.col1 {
    width: 85px;
}
.comment {
	font-size: 75%;
}
.mn {
	font-family: "Mongolian Universal White", "Noto Sans Mongolian", "Mongolian Baiti" !important;
    font-size: 110%;
}
.bo {
	font-family: FZZWXBTOT_Unicode, BabelStoneTibetanSlim, "Noto Serif Tibetan", Monlam-Bodyig-Regular, Kailasa, "Microsoft Himalaya" !important;
}
.ar {
	font-family: "UKIJ Tuz", "Arabic UI Text", "Noto Naskh Arabic", "Microsoft Uighur" !important;
    font-size: 120%;
}
.ar2 {
	font-family: "UKIJ Tuz Tom", "Arabic UI Text", "Noto Naskh Arabic", "Microsoft Uighur" !important;
}
.plrd {
	font-family: "Guifan Miaowen" !important;
}
.lat {
    font-family: "Open Sans" !important;
}
.unoff {
    color: blue;
}
small {
    font-size: 75%;
}
.hidden {
	display: none;
}
.notes {
	font-size: 85%;
	background-color: #f6f6f6;
	overflow-x: visible;
	overflow-y: visible;
}
em {
    font-weight: normal;
    font-style: normal;
    color: red;
}
.cursor {
    cursor:pointer;   
}
ul.no-bullets {
    list-style-type: none;
    margin: 0;
    margin-left: 2em;
    padding: 0;
}