@font-face {
    font-family: 'Mongolian Universal White';
    src: url('fnts/MongolianUniversalWhite.eot');
    src: url('fnts/MongolianUniversalWhite.eot?#iefix') format('embedded-opentype'),
        url('fnts/MongolianUniversalWhite.woff2') format('woff2'),
        url('fnts/MongolianUniversalWhite.woff') format('woff'),
		url('fnts/MongolianUniversalWhite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: "Source Sans 3";
	src:url ("https://ttpedersen.github.io/china-administrative-divisions/fnts/SourceSans3-Regular.otf.woff") format ("woff"),
	url ("https://ttpedersen.github.io/china-administrative-divisions/fnts/SourceSans3-Regular.otf") format ("opentype");
	font-style: normal;
}

body {
	font-family: "Source Sans 3", "Noto Sans", "Segoe UI", sans-serif !important;
}
h1, h2, h3 {
	font-family: inherit;
	font-weight: bold;
}
p.padding {
	padding-left: 40px;
}
a {
	text-decoration: none;
}
a:link {
	color:grey
}
a:hover {
	color:mediumblue
}
a:visited {
	color: grey
}
table, th, td {
	border-collapse: collapse; border: 1px solid; border-color: gray;
}
th {
	background-color: lightgray;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding: 5px;
}
td {
	vertical-align: top;
	padding: 5px;
}
.mn {
	font-family: "Mongolian Universal White", "Noto Sans Mongolian", "Mongolian Baiti" !important;
}
.comment {
	font-size: 75%;
}