@font-face {
    font-family: 'Mongolian Universal White';
    src: url('fnts/MongolianUniversalWhite.eot');
    src: url('fnts/MongolianUniversalWhite.eot?#iefix') format('embedded-opentype'),
        url('fnts/MongolianUniversalWhite.woff2') format('woff2'),
        url('fnts/MongolianUniversalWhite.woff') format('woff'),
		url('fnts/MongolianUniversalWhite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-It.eot');
    src: url('fnts/SourceSans3-It.eot?#iefix') format('embedded-opentype'),
        url('fnts/SourceSans3-It.woff2') format('woff2'),
        url('fnts/SourceSans3-It.woff') format('woff'),
        url('fnts/SourceSans3-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-Regular.eot');
    src: url('fnts/SourceSans3-Regular.eot?#iefix') format('embedded-opentype'),
        url('fnts/SourceSans3-Regular.woff2') format('woff2'),
        url('fnts/SourceSans3-Regular.woff') format('woff'),
        url('fnts/SourceSans3-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-Bold.eot');
    src: url('fnts/SourceSans3-Bold.eot?#iefix') format('embedded-opentype'),
        url('fnts/SourceSans3-Bold.woff2') format('woff2'),
        url('fnts/SourceSans3-Bold.woff') format('woff'),
        url('fnts/SourceSans3-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('fnts/SourceSans3-BoldIt.eot');
    src: url('fnts/SourceSans3-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('fnts/SourceSans3-BoldIt.woff2') format('woff2'),
        url('fnts/SourceSans3-BoldIt.woff') format('woff'),
        url('fnts/SourceSans3-BoldIt.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
	font-family: "Source Sans 3", "Noto Sans", "Segoe UI", sans-serif !important;
}
h1, h2, h3 {
	font-family: inherit;
	font-weight: bold;
}
p.padding {
	padding-left: 40px;
}
a {
	text-decoration: none;
}
a:link {
	color:grey
}
a:hover {
	color:mediumblue
}
a:visited {
	color: grey
}
table, th, td {
	border-collapse: collapse; border: 1px solid; border-color: gray;
}
th {
	background-color: lightgray;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding: 5px;
}
td {
	vertical-align: top;
	padding: 5px;
}
.mn {
	font-family: "Mongolian Universal White", "Noto Sans Mongolian", "Mongolian Baiti" !important;
}
.comment {
	font-size: 75%;
}